
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0.5rem;
  color: blue;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.container h2 {
  margin: 1rem;
}

.containerCanvas{
  width: 100%;
  height:400px;
  background-color: black;
}