.title{
  text-align: center;
  margin: 1rem;
}

.cardContainer{
  display:flex ;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}
.cardContainer h2{
  margin: 1rem;
}

.card {
  margin: 1rem;
  padding: 1rem 1.2rem;
border: 1px solid black;
border-radius: 10px; 
}



